@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.footer-container{
    width: 100%;
    height: 388px;
    background-color: #D9D9D9;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content-text{
    font-size: 34px;
    font-weight: 500;
    line-height: 46px;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content-links{
    font-size: 26px;
    font-weight: 800;
    line-height: 31px;
    font-family: 'Exo 2', sans-serif;
    width: 842px;
    height: 70px;
    color: #FFFFFF;
    background-color: #565656;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content-about{
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: black;
    font-family: 'Exo 2', sans-serif;
}

.footer-content-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.number{
    color: #565656;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Exo 2', sans-serif;
}


